<div id="cart">
  <div class="product" th:each="product : ${cart.cartProducts}">
    <h3 class="product-name" th:text="${product.productName}"></h3>
    <p class="product-category" th:text="${product.category}"></p>
    <p class="product-price" th:text="${'₱ ' + product.price}"></p>
    <p
      class="product-quantity"
      th:text="${'Quantity: ' + product.quantity}"
    ></p>
    <button>REMOVE</button>
  </div>
  <div th:if="${!cart.cartProducts.empty}" class="cart-total">
    <p th:text="${'Quantity: ' + cart.getNumberOfProducts()}"></p>
    <p th:text="${'Total: ₱ ' + cart.getTotalOrderPrice()}"></p>
    <p th:text="${'Discounted Total: ₱ ' + voucher.getDiscountedPrice()}"></p>
    <form th:action="@{/proceed-checkout}" method="post">
      <button>PROCEED TO CHECKOUT</button>
    </form>
  </div>
</div>
