@font-face {
    font-family: "Poppins Black";
    src: url('../fonts/Poppins-Black.ttf')
}

@font-face {
    font-family: "Poppins Black Italic";
    src: url('../fonts/Poppins-BlackItalic.ttf')
}

@font-face {
    font-family: "Poppins Bold";
    src: url('../fonts/Poppins-Bold.ttf')
}

@font-face {
    font-family: "Poppins Bold Italic";
    src: url('../fonts/Poppins-BoldItalic.ttf')
}

@font-face {
    font-family: "Poppins Extra Bold";
    src: url('../fonts/Poppins-ExtraBold.ttf')
}

@font-face {
    font-family: "Poppins Extra Bold Italic";
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf')
}

@font-face {
    font-family: "Poppins Extra Light";
    src: url('../fonts/Poppins-ExtraLight.ttf')
}

@font-face {
    font-family: "Poppins Extra Light Italic";
    src: url('../fonts/Poppins-ExtraLightItalic.ttf')
}

@font-face {
    font-family: "Poppins Italic";
    src: url('../fonts/Poppins-Italic.ttf')
}

@font-face {
    font-family: "Poppins Light";
    src: url('../fonts/Poppins-Light.ttf')
}

@font-face {
    font-family: "Poppins Light Italic";
    src: url('../fonts/Poppins-LightItalic.ttf')
}

@font-face {
    font-family: "Poppins Medium";
    src: url('../fonts/Poppins-Medium.ttf')
}

@font-face {
    font-family: "Poppins Medium Italic";
    src: url('../fonts/Poppins-MediumItalic.ttf')
}

@font-face {
    font-family: "Poppins Regular";
    src: url('../fonts/Poppins-Regular.ttf')
}

@font-face {
    font-family: "Poppins Semi Bold";
    src: url('../fonts/Poppins-SemiBold.ttf')
}

@font-face {
    font-family: "Poppins Semi Bold Italic";
    src: url('../fonts/Poppins-SemiBoldItalic.ttf')
}

@font-face {
    font-family: "Poppins Thin";
    src: url('../fonts/Poppins-Thin.ttf')
}

@font-face {
    font-family: "Poppins Thin Italic";
    src: url('../fonts/Poppins-ThinItalic.ttf')
}



