html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body,
#login,
#signup,
#home {
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  color: black;
}

#home {
  width: 100%;
}

#home > #store,
#home > #cart {
  display: flex;
  width: 70%;
  overflow: auto;
}

#store > .product,
#cart > .product {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 200px;
  margin: 0px 2px;
  border: 0.8px solid black;
}

#voucher {
  display: grid;
  place-items: center;
  background-color: cadetblue;
}

#store > .product {
  background-color: aqua;
}

#cart > .product {
  background-color: brown;
}
#cart > .cart-total {
  place-self: center;
  margin-left: auto;
}

#login > input,
#signup > input {
  margin-bottom: 1.2em;
  padding: 1em 1em;
  width: 12em;
}

#login > a,
#signup > a {
  margin-bottom: 0.8em;
  font-size: 0.8em;
  text-decoration: none;
}

.submit {
  cursor: pointer;
  padding: 0.8em 1em;
  width: 8em;
}

.error,
.success {
  width: max-content;
  padding: 1em 1.2em 1em 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 0.7em;
  color: white;
  background-color: rgb(214, 69, 69);
}

.success {
  background-color: rgb(36, 199, 36);
}
