<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <body>
    <div id="home">
      <p th:if="${userRole == 'USER' || userRole == 'ADMIN'}">
        Hello
        <span th:text="${userFirstname + ' ' + userLastname}"></span>
        <button><a th:href="@{/profile}">PROFILE</a></button>
      </p>
      <form
        th:if="${userRole == 'USER' || userRole == 'ADMIN'}"
        th:action="@{/logout}"
        method="POST"
      >
        <input type="submit" value="Logout" class="submit" />
      </form>

      <div th:if="${cart.cartProducts.empty}">No items in your cart.</div>
      <div id="cart">
        <div class="product" th:each="product : ${cart.cartProducts}">
          <h3 class="product-name" th:text="${product.productName}"></h3>
          <p class="product-category" th:text="${product.category}"></p>
          <p class="product-price" th:text="${'₱ ' + product.price}"></p>
          <p
            class="product-quantity"
            th:text="${'Quantity: ' + product.quantity}"
          ></p>

          <form th:action="@{/removeProduct}" method="post">
            <button type="submit" name="productId" th:value="${product.id}">
              REMOVE
            </button>
          </form>
        </div>
        <div th:if="${!cart.cartProducts.empty}" class="cart-total">
          <p th:text="${'Quantity: ' + cart.getNumberOfProducts()}"></p>
          <p th:if="${checboxStatus == nul}" th:text="${'Total: ₱ ' + cart.getTotalOrderPrice()}"></p>
          <p
            th:if="${checboxStatus}"
            th:text="${'Total: ₱ ' + cart.getDiscountedPrice()}"
          ></p>

          <form th:action="@{/checkout}" method="GET" id="proceed-form">
            <input
              id="hidden-useVoucher"
              type="checkbox"
              th:checked="${checboxStatus}"
              name="useVoucher"
              value="1"
              style="display: none"
            />
            <button type="submit">PROCEED TO CHECKOUT</button>
          </form>
        </div>
      </div>

      <div id="voucher">
        <div th:if="${cart.vouchers.empty}">You have no vouchers</div>
        <div th:each="voucher : ${cart.vouchers}">
          <h3 th:text="${voucher.voucherName}"></h3>
          <p th:text="${voucher.description}"></p>
          <p th:text="${voucher.discount + '%'}"></p>
          <p
            th:text="${'Expiry Date: ' + #temporals.format(voucher.expiryDate, 'yyyy-MM-dd')}"
          ></p>
          <form id="form-voucher" th:action="@{/cart/home}" method="GET">
            <label for="use-voucher">Use Voucher</label>
            <input
              type="checkbox"
              name="useVoucher"
              id="use-voucher"
              th:checked="${checboxStatus}"
              value="1"
            />
          </form>
        </div>
      </div>

      <button>
        <a th:href="@{/store/1}">BACK TO STORE</a>
      </button>
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
