<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <body class="background-grey">
    <div class="allButFooter">
      <div class="defaultMargin py-3">
        <span class="directory-link">
          <a class="directory-link" th:href="@{/}">Home</a>
          <span class="mx-1">></span>
          <a class="directory-link-active" th:href="@{/cart/home}">Cart</a>
        </span>
      </div>
      <div class="defaultMargin row mb-5">
        <!--Left-->
        <div class="col-8 p-0 mr-auto">
          <div class="container-cart p-4 mr-auto">
            <h1 class="mb-4">CART</h1>
            <div class="none-text" th:if="${cart.cartProducts.empty}">No items in your cart.</div>
            <table th:if="${!cart.cartProducts.empty}" class="table">
              <thead>
                <tr>
                  <th scope="col" class="table-style-header">IMAGE</th>
                  <th scope="col" class="table-style-header">NAME</th>
                  <th scope="col" class="table-style-header">QUANTITY</th>
                  <th scope="col" class="table-style-header">TOTAL</th>
                  <th scope="col" class="table-style-header">REMOVE</th>
                </tr>
              </thead>
              <tbody>
                <tr class="product" th:each="product : ${cart.cartProducts}">
                  <th scope="row" class="align-middle">
                    <a th:href="@{|/product/${product.id}|}">
                      <img th:src="${product.image}" th:alt="${product.productName + '.jpg'}" class="cart-product-image"/>
                    </a>
                  </th>
                  <td class="align-middle table-style-content"><a class="cart-product-name" th:href="@{|/product/${product.id}|}" th:text="${product.productName}" ></a></td>
                  <td class="table-style-content align-middle" th:text="${'x' + product.quantity}"></td>
                  <td class="table-style-content align-middle" th:text="${'₱ ' + #numbers.formatDecimal(product.price * product.quantity,1,'COMMA',2,'POINT')}"></td>
                  <td class="align-middle table-style-content">
                    <form th:action="@{/removeProduct}" method="post">
                      <button type="submit" class="btn submit-style w-auto px-3 m-0" name="productId" th:value="${product.id}">
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Right-->
        <div class="col-4 ps-4 pe-0">
          <div class="sidebar-big p-4 ml-auto" th:if="${!cart.cartProducts.empty}">
            <h1 class="mb-4">ORDER SUMMARY</h1>
            <hr>
            <!--Quantity-->
            <div class="d-flex justify-content-between">
              <span class="cart-summary">QUANTITY</span>
              <span class="cart-summary" th:text="${cart.getNumberOfProducts()}"></span>
            </div>
            <hr>
            <!--Voucher-->
            <div id="voucher">
              <span class="cart-summary">VOUCHER DISCOUNT</span>
              <div class="cart-summary" th:if="${cart.vouchers.empty}">No vouchers available.</div>
              <div th:each="voucher : ${cart.vouchers}">
                <div class="background-blue p-4 mb-2">
                  <h2 th:text="${voucher.discount + '% ' + voucher.voucherName}" style="text-transform: capitalize"></h2>
                  <p class="voucher-text m-0" th:text="${voucher.description}"></p>
                  <p class="voucher-text m-0" th:text="${'Expiry Date: ' + #temporals.format(voucher.expiryDate, 'yyyy-MM-dd')}" ></p>
                </div>
              </div>
              <div th:each="voucher : ${cart.vouchers}">
                <form class="form-check" id="form-voucher" th:action="@{/cart/home}" th:if="${!cart.cartProducts.empty}" method="GET">
                  <input
                    class="form-check-input" 
                    type="checkbox"
                    name="useVoucher"
                    id="use-voucher"
                    th:checked="${checkboxStatus}"
                    value="1"
                  />
                  <label class="form-check-label" for="use-voucher">
                    <span th:text="${voucher.discount + '% off ' + voucher.voucherName}"></span>
                  </label>
                </form>
              </div>
            </div>
            <hr>
            <!--Total Cost-->
            <div class="cart-total d-flex justify-content-between mb-3">
              <span class="cart-summary">TOTAL COST</span>
              <span 
                class="cart-summary-total"
                th:if="${checkboxStatus == null}" 
                th:text="${'₱' + #numbers.formatDecimal(cart.getTotalOrderPrice(),1,'COMMA',2,'POINT')}"></span>
              <span
                class="cart-summary-total"
                th:if="${checkboxStatus}"
                th:text="${'₱' + #numbers.formatDecimal(cart.getDiscountedPrice(),1,'COMMA',2,'POINT')}"
              ></span>
            </div>
            <form th:action="@{/checkout}" method="GET" id="proceed-form">
              <input
                id="hidden-useVoucher"
                type="checkbox"
                th:checked="${checkboxStatus}"
                name="useVoucher"
                value="1"
                style="display: none"
              />
              <button type="submit" class="btn submit-style submit-style-small m-0">PROCEED TO CHECKOUT</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
