<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <body>
    <div id="home">
      <form th:action="@{|/change-password/confirm/${token}|}" method="POST" id="login">
        <h1>CHANGE PASSWORD</h1>

        <p th:if="${passwordStatus}" th:text="${passwordStatus}"></p>

        <label for="password">New Password</label>
        <input
          type="password"
          placeholder="Enter new password"
          name="password"
          id="password"
        />
        <input
          type="password"
          placeholder="Confirm new password"
          name="confirmPassword"
          id="confirmPassword"
        />

        <input type="submit" value="Submit" class="submit" />
      </form>
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
