<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <body>
    <div id="home">
      <p>
        Hello [[${#httpServletRequest.remoteUser}]]!
        <button><a th:href="@{/profile}">PROFILE</a></button>
      </p>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="submit" />
      </form>
      <a th:href="@{/profile}">PROFILE</a>
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
