<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

<body class="background-grey">
  <div class="allButFooter">
    <div class="defaultMargin py-3">
      <span class="directory-link">
        <a class="directory-link" th:href="@{/}">Home</a>
        <span class="mx-1">></span>
        <a class="directory-link-active" th:href="@{/crud}">Products</a>
      </span>
    </div>
    <div class="defaultMargin container-profile mb-4 p-4">
      <div class="d-flex align-items-center mb-4">
        <h1 class="m-0 mr-auto">PRODUCTS</h1>
        
        <div class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="m-0">ADD PRODUCT</h5>
                <button type="reset" class="btn-close exit-modal-add-product"></button>
              </div>
              <div class="modal-body p-4 pt-3">
                <form th:action="@{/crud/create}" method="POST" class="add-product">
                  <div class="form-label-group w-100">
                    <label class="label-style" for="product-name">Product Name</label>
                    <input class="input-style" type="text" name="productName" id="product-name" />
                  </div>
                  <div class="form-label-group w-100">
                    <label class="label-style" for="description">Description</label>
                    <input class="input-style" type="text" name="description" id="description" />
                  </div>
                  <div class="form-label-group w-100">
                    <label class="label-style" for="category">Category</label>
                    <input class="input-style" type="text" name="category" id="category" />
                  </div>
                  <div class="form-label-group w-100">
                    <label class="label-style" for="price">Price</label>
                    <input class="input-style" type="text" name="price" id="price" />
                  </div>
                  <div class="form-label-group w-100">
                    <label class="label-style" for="status">Status</label>
                    <input class="input-style" type="text" name="status" id="status" />
                  </div>
                  <div class="form-label-group w-100">
                    <label class="label-style" for="image">Image</label>
                    <input class="input-style" type="text" name="image" id="image" />
                  </div>
                  <div class="form-label-group w-100">
                    <label class="label-style" for="tags">Tags</label>
                    <input class="input-style" type="text" name="tags" id="tags" />
                  </div>
                  <div class="form-label-group w-100">
                    <input class="label-style" type="hidden" name="rating" value="5" />
                  </div>
                  <hr>
                  <button class="btn-add btn submit-style submit-style-small m-0" type="submit">ADD</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-add btn submit-style submit-style-small m-0 w-auto">+ ADD PRODUCT</button>
      </div>

      <div class="success mb-3" th:if="${crudStatus}" th:text="${crudStatus}"></div>

      <div id="products-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="table-style-header">ID</th>
              <th scope="col" class="table-style-header">PRODUCT NAME</th>
              <th scope="col" class="table-style-header">DESCRIPTION</th>
              <th scope="col" class="table-style-header">CATEGORY</th>
              <th scope="col" class="table-style-header">PRICE</th>
              <th scope="col" class="table-style-header">STATUS</th>
              <th scope="col" class="table-style-header">IMAGE</th>
              <th scope="col" class="table-style-header">TAGS</th>
              <th scope="col" class="table-style-header">CREATED AT</th>
              <th scope="col" class="table-style-header">UPDATED AT</th>
              <th scope="col" class="table-style-header">CONTROLS</th>
            </tr>
          </thead>
          <tbody>
            <tr class="product" th:each="product : ${products}">
              <th scope="row" class="align-middle table-style-content" th:text="${product.id}"></td>
              <td class="align-middle table-style-content">
                <span class="crud-text" th:text="${product.productName}"></span>
              </td>
              <td class="align-middle table-style-content">
                <span class= "crud-text" th:text="${product.description}"></span>
              </td>
              <td class="align-middle table-style-content" th:text="${product.category}"></td>
              <td class="align-middle table-style-content" th:text="${product.price}"></td>
              <td class="align-middle table-style-content" th:text="${product.status}"></td>
              <td class="align-middle table-style-content" th:text="${product.image}"></td>
              <td class="align-middle table-style-content">
                <span th:each="tag : ${product.tags}" th:text="${tag} + ', '"></span>
              </td>
              <td class="align-middle table-style-content"
                th:text="${#temporals.format(product.createdAt, 'yyyy-MM-dd HH-MM')}"
              ></td>
              <td class="align-middle table-style-content"
                th:text="${#temporals.format(product.updatedAt, 'yyyy-MM-dd HH-MM')}"
              ></td>
              <td>
                <div class="modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="m-0">EDIT PRODUCT</h5>
                        <button type="reset" class="btn-close exit-modal"></button>
                      </div>
                      <div class="modal-body p-4 pt-3">
                        <form th:action="@{/crud/update}" method="POST" modelAttribute="product">
                          <div class="form-label-group w-100">
                            <input type="hidden" name="id" th:value="${product.id}" />
                          </div>
                          <div class="form-label-group w-100">
                            <input type="hidden" name="createdAt" th:value="${product.createdAt}" />
                          </div>
                          <div class="form-label-group w-100">
                            <label class="label-style" for="product-name">Product Name</label>
                            <input
                              class="input-style" 
                              type="text"
                              name="productName"
                              id="product-name"
                              th:value="${product.productName}"
                            />
                          </div>
                          <div class="form-label-group w-100">
                            <label class="label-style" for="description">Description</label>
                            <input
                              class="input-style" 
                              type="text"
                              name="description"
                              id="description"
                              th:value="${product.description}"
                            />
                          </div>
                          <div class="form-label-group w-100">
                            <label class="label-style" for="category">Category</label>
                            <input
                              class="input-style" 
                              type="text"
                              name="category"
                              id="category"
                              th:value="${product.category}"
                            />
                          </div>
                          <div class="form-label-group w-100">
                            <label class="label-style" for="price">Price</label>
                            <input
                              class="input-style" 
                              type="text"
                              name="price"
                              id="price"
                              th:value="${product.price}"
                            />
                          </div>
                          <div class="form-label-group w-100">
                            <label class="label-style" for="status">Status</label>
                            <input
                              class="input-style" 
                              type="text"
                              name="status"
                              id="status"
                              th:value="${product.status}"
                            />
                          </div>
                          <div class="form-label-group w-100">
                            <label class="label-style" for="image">Image</label>
                            <input
                              class="input-style" 
                              type="text"
                              name="image"
                              id="image"
                              th:value="${product.image}"
                            />
                          </div>
                          <div class="form-label-group w-100">
                            <label class="label-style" for="tags">Tags</label>
                            <input
                              class="input-style" 
                              type="text"
                              name="tags"
                              id="tags"
                              th:value="${product.tags}"
                            />
                          </div>
                          <hr>
                          <button class="btn-add btn submit-style submit-style-small m-0" type="submit">EDIT</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-edit submit-style w-100 px-3 m-0">
                  <i class="far fa-edit"></i>
                </button>
                <div class="modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="m-0">DELETE PRODUCT?</h5>
                        <button type="reset" class="btn-close exit-modal"></button>
                      </div>
                      <div class="modal-body p-4 pt-3">
                        <form
                          th:action="@{/crud/delete}"
                          method="post"
                          class="delete"
                        >
                          <h1 class="mb-2" th:text="${product.productName}"></h1>
                          <img class="w-100" th:src="${product.image}" th:alt="${product.productName + '.jpg'}"/>
                          <hr>
                          <button type="submit" class="btn submit-style w-100 px-3 m-0" name="id" th:value="${product.id}">
                            CONFIRM DELETE
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-delete submit-style w-100 px-3 m-0 mt-1">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
      <!-- <div th:if="${products.empty}">There are no products</div> -->
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
