<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

<body class="background-grey">
  <div class="allButFooter">
    <div class="defaultMargin py-3">
      <span class="directory-link">
        <a class="directory-link" th:href="@{/}">Home</a>
        <span class="mx-1">></span>
        <a class="directory-link-active" th:href="@{/crud}">Products</a>
      </span>
    </div>
    <div class="defaultMargin container-profile mb-4 p-4">
      <div class="d-flex align-items-center mb-4">
        <h1 class="m-0 mr-auto">PRODUCTS</h1>
        
        <form th:action="@{/crud/create}" method="POST" class="modal-crud modal-crud-shadow add-product">
          <button type="reset" class="exit-modal-add-product">X</button>
          <label for="product-name">Product Name</label>
          <input type="text" name="productName" id="product-name" />
          <label for="description">Description</label>
          <input type="text" name="description" id="description" />
          <label for="category">Category</label>
          <input type="text" name="category" id="category" />
          <label for="price">Price</label>
          <input type="text" name="price" id="price" />
          <label for="status">Status</label>
          <input type="text" name="status" id="status" />
          <label for="image">Image</label>
          <input type="text" name="image" id="image" />
          <label for="tags">Tags</label>
          <input type="text" name="tags" id="tags" />
          <input type="hidden" name="rating" value="5" />
          <button type="submit">SAVE</button>
        </form>
        <button class="btn-add btn submit-style submit-style-small m-0 w-auto">+ ADD PRODUCT</button>
      </div>

      <div
        class="crud-results"
        th:if="${crudStatus}"
        th:text="${crudStatus}"
      ></div>

      <div id="products-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="table-style-header">ID</th>
              <th scope="col" class="table-style-header">PRODUCT NAME</th>
              <th scope="col" class="table-style-header">DESCRIPTION</th>
              <th scope="col" class="table-style-header">CATEGORY</th>
              <th scope="col" class="table-style-header">PRICE</th>
              <th scope="col" class="table-style-header">STATUS</th>
              <th scope="col" class="table-style-header">IMAGE</th>
              <th scope="col" class="table-style-header">TAGS</th>
              <th scope="col" class="table-style-header">CREATED AT</th>
              <th scope="col" class="table-style-header">UPDATED AT</th>
              <th scope="col" class="table-style-header">CONTROLS</th>
            </tr>
          </thead>
          <tbody>
            <tr class="product" th:each="product : ${products}">
              <th scope="row" class="align-middle table-style-content" th:text="${product.id}"></td>
              <td class="align-middle table-style-content">
                <span class="crud-text" th:text="${product.productName}"></span>
              </td>
              <td class="align-middle table-style-content">
                <span class= "crud-text" th:text="${product.description}"></span>
              </td>
              <td class="align-middle table-style-content" th:text="${product.category}"></td>
              <td class="align-middle table-style-content" th:text="${product.price}"></td>
              <td class="align-middle table-style-content" th:text="${product.status}"></td>
              <td class="align-middle table-style-content" th:text="${product.image}"></td>
              <td class="align-middle table-style-content">
                <span th:each="tag : ${product.tags}" th:text="${tag} + ', '"></span>
              </td>
              <td class="align-middle table-style-content"
                th:text="${#temporals.format(product.createdAt, 'yyyy-MM-dd HH-MM')}"
              ></td>
              <td class="align-middle table-style-content"
                th:text="${#temporals.format(product.updatedAt, 'yyyy-MM-dd HH-MM')}"
              ></td>
              <td>
                <div class="modal">
                  <form
                    th:action="@{/crud/update}"
                    method="POST"
                    class="modal-crud"
                    modelAttribute="product"
                  >
                    <button type="reset" class="exit-modal">X</button>
                    <input type="hidden" name="id" th:value="${product.id}" />
                    <input
                      type="hidden"
                      name="createdAt"
                      th:value="${product.createdAt}"
                    />
                    <label for="product-name">Product Name</label>
                    <input
                      type="text"
                      name="productName"
                      id="product-name"
                      th:value="${product.productName}"
                    />
                    <label for="description">Description</label>
                    <input
                      type="text"
                      name="description"
                      id="description"
                      th:value="${product.description}"
                    />
                    <label for="category">Category</label>
                    <input
                      type="text"
                      name="category"
                      id="category"
                      th:value="${product.category}"
                    />
                    <label for="price">Price</label>
                    <input
                      type="text"
                      name="price"
                      id="price"
                      th:value="${product.price}"
                    />
                    <label for="status">Status</label>
                    <input
                      type="text"
                      name="status"
                      id="status"
                      th:value="${product.status}"
                    />
                    <label for="image">Image</label>
                    <input
                      type="text"
                      name="image"
                      id="image"
                      th:value="${product.image}"
                    />
                    <label for="tags">Tags</label>
                    <input
                      type="text"
                      name="tags"
                      id="tags"
                      th:value="${product.tags}"
                    />
                    <button type="submit">UPDATE</button>
                  </form>
                </div>
                <button class="btn btn-edit submit-style w-100 px-3 m-0">
                  <i class="far fa-edit"></i>
                </button>
  
                <div class="modal">
                  <form
                    th:action="@{/crud/delete}"
                    method="post"
                    class="modal-crud delete"
                  >
                    <button type="reset" class="exit-modal">X</button>
                    <h3 th:text="${product.id}"></h3>
                    <h2 th:text="${product.productName}"></h2>
                    <button type="submit" name="id" th:value="${product.id}">
                      DELETE
                    </button>
                  </form>
                </div>
                <button class="btn btn-delete submit-style w-100 px-3 m-0 mt-1">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
      <!-- <div th:if="${products.empty}">There are no products</div> -->
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
