<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <body>
    <div id="home">
      <form th:action="@{/login}" method="POST" id="login">
        <h1>FORGOT PASSWORD</h1>

        <p th:if="${emailSent}" th:text="${emailSent}"></p>

        <label for="email">Email</label>
        <input type="text" placeholder="Enter email" name="email" id="email" />

        <input type="submit" value="Submit" class="submit" />
      </form>
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
