<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/common"></head>

  <body>
    <div id="home">
      <p>Hello [[${#httpServletRequest.remoteUser}]]!</p>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="submit" />
      </form>

      <div id="store">
        <div th:if="${products.empty}">No products available</div>
        <div class="product" th:each="product : ${products}">
          <h3 class="product-name" th:text="${product.productName}"></h3>
          <p class="product-category" th:text="${product.category}"></p>
          <p class="product-price" th:text="${'₱ ' + product.price}"></p>

          <form th:action="@{/addproduct}" method="POST">
            <input
              type="number"
              id="product-quantity"
              name="productQuantity"
              min="1"
              max="5"
              value="1"
            />
            <button type="submit" name="add" th:value="${product.id}">
              Add to cart
            </button>
          </form>
        </div>
      </div>

      <div th:replace="../fragments/cart-products"></div>

      <div id="voucher">
        <h3 th:text="${voucher.voucherName}"></h3>
        <p th:text="${voucher.description}"></p>
        <p th:text="${voucher.discount + '%'}"></p>
        <p
          th:text="${'Expiry Date: ' + #temporals.format(voucher.expiryDate, 'yyyy-MM-dd')}"
        ></p>
      </div>
    </div>
  </body>
</html>
