<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="common"></head>

  <body>
    <div id="home">
      <p>Hello [[${#httpServletRequest.remoteUser}]]!</p>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="submit" />
      </form>

      <div id="store">
        <!-- <div th:if="${products.empty}">No products available</div> -->
        <div class="product" th:each="product : ${products}">
          <h3 class="product-name" th:text="${product.name}"></h3>
          <p class="product-category" th:text="${product.category}"></p>
          <p class="product-price" th:text="${'₱ ' + product.price}"></p>
          <input type="button" value="Add to cart" />
        </div>
      </div>
    </div>
  </body>
</html>
