<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>
  <body>
    <div id="home">
      <!--carousel-->
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img th:src="@{'/img/placeholder_carousel.png'}" class="d-block w-100" alt="carousel">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img th:src="@{'/img/placeholder_carousel.png'}" class="d-block w-100" alt="carousel">
          </div>
          <div class="carousel-item">
            <img th:src="@{'/img/placeholder_carousel.png'}" class="d-block w-100" alt="carousel">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--
      <p th:if="${userRole == 'USER' || userRole == 'ADMIN'}">
        Hello
        <span th:text="${userFirstname + ' ' + userLastname}"></span>
        <button><a th:href="@{/profile}">PROFILE</a></button>
      </p>
      -->
      <div class="defaultMargin py-5 ">
        <h1>BEST SELLERS</h1>
        <div id="container-products" class="row">
          <div th:if="${bestSellers.empty}">No products available</div>
          <div class="product-best-seller col-2" style="border: 1px solid black;" th:each="product : ${bestSellers}">
            <a th:href="@{|/product/${product.id}|}">
              <!-- <img
                th:src="${product.image}"
                th:alt="${product.productName + '-img.png'}"
              /> -->
              <img th:alt="${product.productName + '-img.png'}" />
              <h4 class="product-name" th:text="${product.productName}"></h3>
              <p class="product-category" th:text="${product.category}"></p>
              <p class="product-price" th:text="${'₱ ' + product.price}"></p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="../fragments/footer"></footer>
  </body>
</html>
