<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/common"></head>
  <body>
    <form th:action="@{/login}" method="POST" id="login">
      <h1>LOGIN</h1>

      <p th:if="${param.error}" class="error">Invalid credentials</p>

      <p th:if="${param.logout}" class="success">
        You have successfully logged out!
      </p>

      <p th:if="${userCreated}" th:text="${userCreated}" class="success"></p>

      <label for="username"></label>
      <input
        type="text"
        placeholder="Enter username"
        name="username"
        id="username"
      />

      <label for="password"></label>
      <input
        type="password"
        placeholder="Enter password"
        name="password"
        id="password"
      />
      <a href="/signup">Don't have an account?</a>
      <input type="submit" value="Login" class="submit" />
    </form>
  </body>
</html>
