<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>
  <body>
    <div class="defaultMargin d-flex row justify-content-center align-items-center py-5" style="background-color:red;">
      <div class="container" style="width: 755px">
        <h1>LOG INTO YOUR SEOUL SOUL ACCOUNT</h1>
      </div>
      <div class="container row" style="background-color:gray; width: 755px">
        <div class="col-6">
          <form th:action="@{/login}" method="POST" id="login">
            <p th:if="${param.error}" class="error">Invalid credentials</p>
            <p th:if="${param.logout}" class="success">You have successfully logged out!</p>
            <p th:if="${passwordStatus}" th:text="${passwordStatus}" class="success"></p>
            <p th:if="${userCreated}" th:text="${userCreated}" class="success"></p>
      
            <div class="form-label-group">
              <label for="username"></label>
              <input type="text" placeholder="Enter email" name="username" id="username" />
            </div>
            <div class="form-label-group">
              <label for="password"></label>
              <input type="password" placeholder="Enter password" name="password" id="password"/>
            </div>
            
            <input type="submit" value="Login" class="submit" />

            <div class="text-center mt-2">

              <a href="/sign-up">Don't have an account?</a>
            </div>
            <a href="/forgot-password">Forgot password?</a>

          </form>
        </div>
        
      </div>
    </div>
    <footer th:replace="../fragments/footer"></footer>
  </body>
</html>
