<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <body>
    <div id="home">
      <p>
        Hello [[${#httpServletRequest.remoteUser}]]!
        <button><a th:href="@{/profile}">PROFILE</a></button>
      </p>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="submit" />
      </form>

      <h3 class="product-name" th:text="${product.productName}"></h3>
      <p class="product-category" th:text="${product.category}"></p>
      <p class="product-price" th:text="${'₱ ' + product.price}"></p>

      <form th:action="@{/addProduct}" method="post">
        <input
          type="number"
          id="product-quantity"
          name="productQuantity"
          min="1"
          max="5"
          value="1"
        />
        <button
          type="submit"
          class="add-to-cart"
          name="productId"
          th:value="${product.id}"
        >
          Add to cart
        </button>
      </form>
      <button><a th:href="@{/store}">GO BACK</a></button>
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
