<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <body class="background-grey">
    <div class="allButFooter">
      <div class="defaultMargin py-3">
        <span class="directory-link">
          <a class="directory-link" th:href="@{/}">Home</a>
          <span class="mx-1">></span>
          <a class="directory-link-active" th:href="@{/profile}">Profile</a>
        </span>
      </div>
      <div class="defaultMargin container-profile mb-4 p-4">
        <h1 id="orders-title">ORDER HISTORY</h1>
        <span class="none-text" th:if="${receiptList.empty}">You haven't ordered yet.</span>
        <table th:if="${!receiptList.empty}" class="table">
          <thead>
            <tr>
              <th scope="col" class="table-style-header">REF NO.</th>
              <th scope="col" class="table-style-header">DATE</th>
              <th scope="col" class="table-style-header">PRICE</th>
              <th scope="col" class="table-style-header">VOUCHER</th>
              <th scope="col" class="table-style-header">STATUS</th>
              <th scope="col" class="table-style-header">DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="receipt : ${receiptList}">
              <th scope="row" class="align-middle table-style-content"><span th:text="${receipt.id}"></span></th>
              <td class="align-middle table-style-content"><span th:text="${#temporals.format(receipt.createdAt, 'yyyy-MM-dd HH-MM')}"></span></td>
              <td class="align-middle table-style-content"><span th:text="${'₱ ' + #numbers.formatDecimal(receipt.getDiscountedPrice(),1,'COMMA',2,'POINT')}"></span></td>
              <td class="align-middle table-style-content">
                <div th:each="voucher : ${receipt.voucherList}">
                  <span th:text="${voucher.voucherName}"></span>
                </div>
                <span th:if="${receipt.voucherList.empty}">No voucher used.</span>
              </td>
              <td class="align-middle table-style-content"><span>pending</span></td>
              <td class="align-middle table-style-content">
                <div class="modal">
                  <div class="product-details">
                    <button type="reset" class="exit-modal">X</button>
                    <table class="modal-table">
                      <tr>
                        <th>IMAGE</th>
                        <th>NAME</th>
                        <th>TAGS</th>
                        <th>QUANTITY</th>
                        <th>PRICE</th>
                      </tr>
                      <tr th:each="product : ${receipt.productList}">
                        <td>
                          <img
                            class="card-product-image"
                            th:src="${product.image}"
                            th:alt="${product.productName + '.jpg'}"
                          />
                        </td>
                        <td th:text="${product.productName}"></td>
                        <td>
                          <div class="product-tags">
                            <div th:each="tag : ${product.tags}">
                              <p th:text="${tag}"></p>
                            </div>
                          </div>
                        </td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${'₱ ' + #numbers.formatDecimal(product.price,1,'COMMA',2,'POINT')}"></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <button class="btn submit-style btn-product-details w-auto px-3 m-0">
                  <i class="fas fa-eye"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="defaultMargin container-profile mb-5 p-4">
        <h1 id="orders-title">WISHLIST</h1>
        <p th:if="${wishlist.isEmpty}">There are no items in your wishlist.</p>
        <table>
          <tr>
            <th>IMAGE</th>
            <th>NAME</th>
            <th>TAGS</th>
            <th>CATEGORY</th>
            <th>STATUS</th>
            <th>PRICE</th>
          </tr>
          <tr th:each="product : ${wishlist}">
            <td>
              <img
                th:src="${product.image}"
                th:alt="${product.productName + '.jpg'}"
              />
            </td>
            <td th:text="${product.productName}"></td>
            <td>
              <div class="product-tags">
                <div th:each="tag : ${product.tags}">
                  <p th:text="${tag}"></p>
                </div>
              </div>
            </td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.status}"></td>
            <td th:text="${'₱ ' + #numbers.formatDecimal(product.price,1,'COMMA',2,'POINT')}"></td>
            <td>
              <button>
                <a th:href="@{|/product/${product.id}|}">Go to product</a>
              </button>
              <form th:action="@{/removeFromWishlist}" method="post">
                <button type="submit" th:value="${product.id}" name="productId">
                  Remove
                </button>
              </form>
            </td>
          </tr>
        </table>  
      </div>
    </div>

    <div th:replace="../fragments/footer.html"></div>
  </body>
</html>
