<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"> </head>

  <body>
    <form th:action="@{/sign-up}" method="POST" id="signup">
      <h1>SIGN UP</h1>

      <p
        th:if="${userNotCreated}"
        class="error"
        th:text="${userNotCreated}"
      ></p>

      <label>First Name</label>
      <input type="text" id="name" name="firstName" />

      <label>Last Name</label>
      <input type="text" id="surname" name="lastName" />

      <label>Email</label>
      <input type="text" id="email" name="email" />

      <label>Password</label>
      <input type="password" id="password" name="password" />

      <a href="/login">Already have an account?</a>

      <input type="submit" value="Sign up" class="submit" />
    </form>
  </body>
</html>
