<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <style>
    body {
      display: flex;
    }

    label {
      user-select: none;
    }

    .page-buttons {
      display: flex;
      gap: 10px;
    }
    [class*="btn-"] {
      cursor: pointer;
    }

    #store {
      width: 100%;
      background-color: aquamarine;
    }

    #filters {
      margin-left: 40px;
      width: 40%;
      background-color: antiquewhite;
      font-size: 0.8rem;
      height: 60vh;
      overflow: auto;
    }

    #filters > h2 {
      border-bottom: 1px solid black;
      padding: 0px 0px 20px 0px;
    }

    #star-ratings > div {
      display: flex;
      align-items: center;
    }

    input[id*="star-"] {
      display: none;
    }

    input[id*="star-"] + label:hover {
      background-color: #0000002a;
    }
  </style>

  <body>
    <div id="filters">
      <h2>FILTERS</h2>
      <form th:action="@{/store/1/addFilters}" method="GET" id="form-filters">
        <section>
          <h4>STATUS</h4>
          <input
            type="checkbox"
            th:checked="${AVAILABLE}"
            name="available"
            id="checkbox-available"
            value="available"
          />
          <label for="checkbox-available">Available</label> <br />
          <input
            type="checkbox"
            th:checked="${PREORDER}"
            name="preorder"
            id="checkbox-preorder"
            value="preorder"
          />
          <label for="checkbox-preorder">Preorder</label> <br />
          <input
            type="checkbox"
            th:checked="${OUTOFSTOCK}"
            name="outOfStock"
            id="checkbox-outofstock"
            value="outOfStock"
          />
          <label for="checkbox-outofstock">Out of stock</label>
        </section>
        <section>
          <div th:if="${test1}" th:text="${test1}"></div>
          <div th:if="${test2}" th:text="${test2}"></div>
          <h4>CATEGORY</h4>
          <div>
            <input
              type="checkbox"
              th:checked="${ALBUMS}"
              name="album"
              id="checkbox-albums"
              value="albums"
            />
            <label for="checkbox-albums">Albums</label> <br />
          </div>
          <input
            type="checkbox"
            th:checked="${DOLLS}"
            name="doll"
            id="checkbox-dolls"
            value="dolls"
          />
          <label for="checkbox-dolls">Dolls</label> <br />
          <input
            type="checkbox"
            th:checked="${IMAGEPICKETS}"
            name="imagePicket"
            id="checkbox-imagePickets"
            value="imagePickets"
          />
          <label for="checkbox-imagePickets">Image Pickets</label> <br />
          <input
            type="checkbox"
            th:checked="${LIGHTSTICKS}"
            name="lightStick"
            id="checkbox-lightSticks"
            value="lightSticks"
          />
          <label for="checkbox-lightSticks">Light Sticks</label> <br />
          <input
            type="checkbox"
            th:checked="${PACKAGES}"
            name="package"
            id="checkbox-packages"
            value="packages"
          />
          <label for="checkbox-packages">Packages</label> <br />
          <input
            type="checkbox"
            th:checked="${PHONECASES}"
            name="phoneCase"
            id="checkbox-phoneCases"
            value="phoneCases"
          />
          <label for="checkbox-phoneCases">Phone Cases</label> <br />
          <input
            type="checkbox"
            th:checked="${PHOTOBOOKS}"
            name="photobook"
            id="checkbox-photobooks"
            value="photobooks"
          />
          <label for="checkbox-photobooks">Photobooks</label> <br />
          <input
            type="checkbox"
            th:checked="${PHOTOCARDS}"
            name="photocard"
            id="checkbox-photocards"
            value="photocards"
          />
          <label for="checkbox-photocards">Photocards</label> <br />
          <input
            type="checkbox"
            th:checked="${POSTERS}"
            name="poster"
            id="checkbox-posters"
            value="posters"
          />
          <label for="checkbox-posters">Posters</label> <br />
          <input
            type="checkbox"
            th:checked="${STICKERS}"
            name="sticker"
            id="checkbox-stickers"
            value="stickers"
          />
          <label for="checkbox-stickers">Stickers</label> <br />
          <input
            type="checkbox"
            th:checked="${TAGS}"
            name="tag"
            id="checkbox-tags"
            value="tags"
          />
          <label for="checkbox-tags">Tags</label> <br />
          <input
            type="checkbox"
            th:checked="${WEARABLES}"
            name="wearable"
            id="checkbox-wearables"
            value="wearables"
          />
          <label for="checkbox-wearables">Wearables</label> <br />
        </section>
        <section>
          <h4>PRICE RANGE</h4>
          <input
            type="number"
            name="priceMin"
            id="input-price-min"
            placeholder="₱ Min"
            th:value="${priceMin}"
            min="1"
          />
          -->
          <input
            type="number"
            name="priceMax"
            id="input-price-max"
            placeholder="₱ Max"
            th:value="${priceMax}"
            min="1"
          />
        </section>
        <section id="star-ratings">
          <h4>RATING</h4>
          <div>
            <input type="checkbox" name="rating" id="star-five" value="5" />
            <label for="star-five" class="btn-rating">
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
            </label>
          </div>
          <div>
            <input type="checkbox" name="rating" id="star-four" value="4" />
            <label for="star-four" class="btn-rating">
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
            </label>
            &nbsp; and up
          </div>
          <div>
            <input type="checkbox" name="rating" id="star-three" value="3" />
            <label for="star-three" class="btn-rating">
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
            </label>
            &nbsp; and up
          </div>
          <div>
            <input type="checkbox" name="rating" id="star-two" value="2" />
            <label for="star-two" class="btn-rating">
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
            </label>
            &nbsp; and up
          </div>
          <div>
            <input type="checkbox" name="rating" id="star-one" value="1" />
            <label for="star-one" class="btn-rating">
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
            </label>
            &nbsp; and up
          </div>
        </section>
        <button type="submit">APPLY</button>
      </form>
    </div>

    <div id="home">
      <p>
        Hello [[${#httpServletRequest.remoteUser}]]!
        <button><a th:href="@{/profile}">PROFILE</a></button>
      </p>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="submit" />
      </form>
      <form th:action="@{/store/1/storeSearch}" method="GET" id="store-search">
        <input
          type="text"
          name="storeSearch"
          id="input-search"
          placeholder="Product name or Category"
        />
        <button type="submit">search</button>
      </form>

      <div id="store">
        <div th:if="${products.empty}">No products available</div>
        <div class="product" th:each="product : ${products}">
          <a th:href="@{|/product/${product.id}|}">
            <h3 class="product-name" th:text="${product.productName}"></h3>
            <p class="product-category" th:text="${product.category}"></p>
            <p class="product-price" th:text="${'₱ ' + product.price}"></p>

            <div
              th:each="i : ${#numbers.sequence(1, product.rating)}"
              style="display: inline-block"
            >
              <img
                alt="star-img"
                th:src="${'/img/star_black_24dp.svg'}"
                class="star-filled"
              />
            </div>

            <div
              th:if="${product.rating < 5}"
              th:each="i : ${#numbers.sequence(1, 5 - product.rating)}"
              style="display: inline-block"
            >
              <img
                alt="star-img"
                th:src="${'/img/star_border_black_24dp.svg'}"
                class="star-empty"
              />
            </div>
          </a>
        </div>
      </div>

      <div class="page-buttons">
        <button class="btn-back" th:if="${showBack == true and uri == null}">
          <a th:href="@{|/store/${newPage - 2}|}">BACK</a>
        </button>
        <button class="btn-back" th:if="${showBack == true and uri != null}">
          <a th:href="@{|/store/${newPage - 2}/${uri}|}">BACK</a>
        </button>

        <button
          th:each="i : ${#numbers.sequence(1, totalPages)}"
          th:if="${newPage - 1 != i && totalPages > 1}"
        >
          <a
            th:if="${uri == null}"
            th:href="@{|/store/${i}|}"
            th:text="${i}"
          ></a>
          <a
            th:if="${uri}"
            th:href="@{|/store/${i}/${uri}|}"
            th:text="${i}"
          ></a>
        </button>

        <button class="btn-next" th:if="${showNext == true and uri == null}">
          <a th:href="@{|/store/${newPage}|}">NEXT</a>
        </button>
        <button class="btn-next" th:if="${showNext == true and uri != null}">
          <a th:href="@{|/store/${newPage}/${uri}|}">NEXT</a>
        </button>
      </div>

      <button>
        <a
          th:href="@{/cart/home}"
          th:text="${'GO TO CART ('+ cart.getNumberOfProducts() + ')'}"
        ></a>
      </button>
    </div>

    <footer th:replace="../fragments/footer"></footer>
  </body>
</html>
