<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="../fragments/header"></head>

  <style>
    .page-buttons {
      display: flex;
      gap: 10px;
    }
    [class*="btn-"] {
      cursor: pointer;
    }
  </style>

  <body>
    <div id="home">
      <p>
        Hello [[${#httpServletRequest.remoteUser}]]!
        <button><a th:href="@{/profile}">PROFILE</a></button>
      </p>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="submit" />
      </form>

      <div id="store">
        <div th:if="${products.empty}">No products available</div>
        <div class="product" th:each="product : ${products}">
          <a th:href="@{|/product/${product.id}|}">
            <h3 class="product-name" th:text="${product.productName}"></h3>
            <p class="product-category" th:text="${product.category}"></p>
            <p class="product-price" th:text="${'₱ ' + product.price}"></p>
          </a>
        </div>
      </div>

      <div class="page-buttons">
        <button class="btn-back" th:if="${showBack == true}">
          <a th:href="@{|/store/${newPage - 2}|}">BACK</a>
        </button>

        <button
          th:each="i : ${#numbers.sequence(1, totalPages)}"
          th:if="${newPage - 1 != i && totalPages > 1}"
        >
          <a th:href="@{|/store/${i}|}" th:text="${i}"></a>
        </button>

        <button class="btn-next" th:if="${showNext== true}">
          <a th:href="@{|/store/${newPage}|}">NEXT</a>
        </button>
      </div>

      <button>
        <a
          th:href="@{/cart/home}"
          th:text="${'GO TO CART ('+ cart.getNumberOfProducts() + ')'}"
        ></a>
      </button>
    </div>

    <footer th:replace="../fragments/footer"></footer>
  </body>
</html>
